* {
    margin:0;
    padding:0;
}

body {
    background-color: #050510;
}

#mask {
    background-color: #000005;
    color: #FFFFFF;
    overflow-x: hidden;
    width: 94%;
    height:88%;
    padding: 3%;
    margin: 0;
}


#mask p, #mask h1{
    background-color: #000005;
    color: #FFFFFF;
    overflow: hidden;
    width: 93%;
    height: auto;
    font-family: fit;
}

#fix {
    margin: 0;
    padding: 0;
    height: auto;
    font-size: 4vh;

}

.header {
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    padding:2%;
    background-image: url("../images/adrien.jpg");
}

.header p {
    font-size:calc((5vw + 5vh)/2);
    color: #FFFFFF;
    font-family: alag;
}

#navhover {
    font-family: fit;
    color: #FFFFFF;
    transition: transform 180ms ease-in-out, color 180ms ease-in-out;
}

#navhover:hover {
    color: #FF1010;
    transform: scale(1.1);
    transition: transform 180ms ease-in-out, color 180ms ease-in-out;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:80%;
    margin-right: 10%;
    margin-left: 10%;
    height:75vh;
}

#content {
    color: #FFFFFF;
    background-color: #000005;
    font-family: fit;
    font-size: calc((2.5vw + 2.5vh)/2);
    height: 100%;
    width:75%
}

#nav {
    height: 100%;
    width: 22%;
    background-color: #000005;
    font-family: fit;
    font-size: calc((1.7vw + 1.7vh)/2);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.fadein {
    animation: ease-in-out;
    animation-duration: 1s;
    animation-name: opacfade;
}

.fadenexo {
    animation: ease-out;
    animation-duration: 5s;
    animation-name: nexopedia;
    height: max-content;
}

#loadmaster{
    height:100%;
}

#loader{
    height:100%;
}

/* Font */

@font-face {
    font-family: alag;
    src: url(../font/ALAGAMBE.otf);
}

@font-face {
    font-family: fit;
    src: url(../font/Outfit/Outfit-Light.ttf);
}

/* Animations */

@keyframes opacfade {
    0% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(1);
    }
}

@keyframes nexopedia {
    0% {
        color:#FF1010;
    }
    20% {
        color: #FFFFFF;
    }
    40% {
        color:#FF1010;
    }
    60% {
        color: #FFFFFF;
    }
    80% {
        color:#FF1010;
    }
    100%{
        color: #FFFFFF;
    }
}

/* Phone-Version */

@media (max-width:1100px) {
    .main {
        flex-direction: column;
        height:auto;
        justify-content: center;

    }

    #nav {
        width: 82%;
        margin-top: 4vh;
        margin-left: 8%;
        margin-right: 8%;
        padding: 2%;
        padding-top: 5%;
        padding-bottom: 5%;
        height: 15vh;
        font-size: calc((3vw + 3vh)/2);

    }

    #content {
        width: 82%;
        margin-top: 2%;
        margin-left: 8%;
        margin-right: 8%;
        padding: 2%;
        height: 57vh;
    }
}
    
